#graph-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: 1em;
    margin: 0 1em;
}

#breadcrumbs {
    grid-column: 1 / 3;
}

svg {
    width: 100%;
    max-height: 85vh;
    font: 10px sans-serif;
    margin: auto;
    border: solid 1px grey;
    border-radius: 5px;
}

svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.zoom {
    position: absolute;
    font-size: 2.3em;
    left: 0.5em;
    border: solid 2px gray;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */

}

#zoom-in {
    top: 0.5em;
}

#zoom-out {
    top: 2em
}

#svg-container {
    line-height: 0;
}

#sidepanel-container {
    background-color: rgb(217, 216, 216);
    padding: 1em;
    border: solid 1px black;
    border-radius: 5px;
    position: relative;
}

#sidepanel-close {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
}

#graph-container.collapsed {
    grid-template-columns: 1fr;
}

#sidepanel-container.collapsed {
    display: none;
}

#graph-window {
    position: relative;
}

#legend {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 0.5em;
    margin: 1em;
    bottom: 0;
    left: 0;
}