<html>

<head>
    <script src="/scripts/components/table.component.js"></script>
    <script src="/scripts/components/table_navigation.component.js"></script>
    <script src="/scripts/components/filters.component.js"></script>
    <script src="/scripts/components/boxplots_browse.js" defer></script>
    <script src="/scripts/utils/fetch_boxplots.js"></script>
    <link rel="stylesheet" href="/stylesheets/graph_browse.css">


    <style>
        svg {
            max-width: 95vw;
            max-height: calc(98vh - 3em);
        }

        path {
            clip-path: stroke-box;
        }

        #table-container.hidden {
            display: none;
        }

        h1 {
            max-width: 80rem;
            margin: auto;
            cursor: pointer;
        }

        a {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div>
        <h1>Database</h1>
        <div id="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th><input type="text" placeholder="Enter activity" id="name" /></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="graphs-table"></tbody>
            </table>
            <div id="pagination-container">
                <div id="page-size-control">
                    <p>Items per page:</p>
                    <select id="pagination-page-size">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div id="pagination-total-item-count"></div>
                <div id="pagination-controls"></div>
            </div>
        </div>
    </div>
    <div id="graph-container"></div>
</body>

</html>