{% extends 'base.html' %}

{% block title %}Browse{% endblock %}

{% block head %}
<script src="/scripts/components/browse.js"></script>
<script src="/scripts/components/table.component.js"></script>
<script src="/scripts/components/table_navigation.component.js"></script>
<script src="/scripts/components/filters.component.js"></script>
<script src="/scripts/utils/fetch.js"></script>
<link rel="stylesheet" href="/stylesheets/browse.css">
{% endblock %}

{% block content %} <div>
    <div id="table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Reference Product</th>
                    <th>Graph Type</th>
                    <th>Geography</th>
                    <th>CPC Code</th>
                    <th>CPC Name</th>
                    <th>Number of nodes</th>
                    <th>Depth</th>
                    <th></th>
                </tr>
                <tr>
                    <th><input type="text" placeholder="Enter name" id="name" /></th>
                    <th><input type="text" placeholder="Enter reference product" id="product" /></th>
                    <th><input type="text" list="graph-type-datalist" placeholder="Enter graph type" id="graph-type" />
                    </th>
                    <th><input type="text" list="geography-datalist" placeholder="Enter geography" id="geography" />
                    </th>
                    <th><input type="text" list="cpc-code-datalist" placeholder="Enter CPC code" id="cpc-code" /></th>
                    <th><input type="text" list="cpc-name-datalist" placeholder="Enter CPC name" id="cpc-name" /></th>
                    <th><input type="number" placeholder="Enter node count" id="node-count" /></th>
                    <th><input type="number" placeholder="Enter depth" id="depth" /></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="graphs-table"></tbody>
        </table>
        <div id="pagination-container">
            <div id="page-size-control">
                <p>Items per page:</p>
                <select id="pagination-page-size">
                    <option>5</option>
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                </select>
            </div>
            <div id="pagination-total-item-count"></div>
            <div id="pagination-controls"></div>
        </div>
    </div>
</div>

<div>
    <datalist id="graph-type-datalist">
        <option value="graphlet">Graphlet</option>
        <option value="supply_chain">Supply Chain</option>
        <option value="supply_chain_reduced">Supply Chain Reduced</option>
        <option value="supply_chain_cutoff">Supply Chain Cutoff</option>
        <option value="region">Region</option>
        <option value="network">Network Graph</option>
        <option value="network_reduced">Network Graph</option>
        <option value="network_cutoff">Network Graph Cutoff</option>
    </datalist>

    {% include 'cpc_code_datalist.html' %}

    {% include 'cpc_name_datalist.html' %}

    {% include 'geography_datalist.html' %}
</div>

{% endblock %}