<html>

<head>
    <script src="/scripts/components/table.component.js"></script>
    <!-- <script src="/scripts/components/table_navigation.component.js"></script>
    <script src="/scripts/components/filters.component.js"></script>
    <script src="/scripts/components/diet_pattern_browse.js" defer></script> -->
    <link rel="stylesheet" href="/stylesheets/graph_browse.css">


    <style>
        svg {
            max-width: 95vw;
            max-height: calc(98vh - 3em);
        }

        path {
            clip-path: stroke-box;
        }

        #table-container.hidden {
            display: none;
        }

        h1 {
            max-width: 80rem;
            margin: auto;
            cursor: pointer;
        }

        a {
            cursor: pointer;
        }

        td {
            text-align: center;
            padding: 0.5em !important
        }
    </style>
</head>

<body>
    <div>
        <h1>Database</h1>
        <div id="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Dietary pattern</th>
                        <th>Food clusters</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="graphs-table">
                    <td>0</td>
                    <td>19</td>
                    <td><a href="http://192.168.56.102:5001/diets/foodclusters/page?pattern=0">Show</a></td>
                </tbody>
                <tbody id="graphs-table">
                    <td>1</td>
                    <td>Not available</td>
                    <td></td>
                </tbody>
                <tbody id="graphs-table">
                    <td>2</td>
                    <td>Not available</td>
                    <td></td>
                </tbody>
                <tbody id="graphs-table">
                    <td>3</td>
                    <td>Not available</td>
                    <td></td>
                </tbody>
                <tbody id="graphs-table">
                    <td>4</td>
                    <td>Not available</td>
                    <td></td>
                </tbody>
                <tbody id="graphs-table">
                    <td>5</td>
                    <td>Not available</td>
                    <td></td>
                </tbody>
                <tbody id="graphs-table">
                    <td>6</td>
                    <td>Not available</td>
                    <td></td>
                </tbody>
                <tbody id="graphs-table">
                    <td>7</td>
                    <td>Not available</td>
                    <td></td>
                </tbody>
                <tbody id="graphs-table">
                    <td>8</td>
                    <td>Not available</td>
                    <td></td>
                </tbody>
                <tbody id="graphs-table">
                    <td>9</td>
                    <td>Not available</td>
                    <td></td>
                </tbody>
            </table>
        </div>
    </div>
    <div id="graph-container"></div>
</body>

</html>