<html>

<head>
    <script src="/scripts/vendor/d3.js"></script>
    <script src="/scripts/components/diets_foodgroups_fdg.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/diets_foodgroups.css" />
</head>

<body>
    <div id="sliders-container">
        Food cluster:
        <div id="food-cluster-slider-container">
            <div class="range-container">
                <div class="sliders-control">
                    <input type="range" min="-1" max="18" value="-1" id="food-cluster-slider" />
                </div>
                <div class="form-control">
                    <div class="form-control-container">
                        <div class="form-control-container__time">Min</div>
                        <input class="form-control-container__time__input" type="number" id="food-cluster-input"
                            value="-1" min="-1" max="18" />
                    </div>
                </div>
            </div>
        </div>

        Node frequency:
        <div id="node-frequency-slider-container" class="range-container">
            <div class="sliders-control">
                <input id="fromSlider" type="range" value="10" min="0" max="100" />
                <input id="toSlider" type="range" value="40" min="0" max="100" />
            </div>
            <div class="form-control">
                <div class="form-control-container">
                    <div class="form-control-container__time">Min</div>
                    <input class="form-control-container__time__input" type="number" id="fromInput" value="10" min="0"
                        max="100" />
                </div>
                <div class="form-control-container">
                    <div class="form-control-container__time">Max</div>
                    <input class="form-control-container__time__input" type="number" id="toInput" value="40" min="0"
                        max="100" />
                </div>
            </div>
        </div>
    </div>

    <div id="category-selector">
        <p><label>Cereals and cereal products: <input data-category="A" type="checkbox" checked /></p></label>
        <p><label>Milk and milk products: <input data-category="B" type="checkbox" checked /></p></label>
        <p><label>Eggs: <input data-category="C" type="checkbox" checked /></p></label>
        <p><label>Vegetables: <input data-category="D" type="checkbox" checked /></p></label>
        <p><label>Water: <input data-category="E" type="checkbox" checked /></p></label>
        <p><label>Fruit: <input data-category="H" type="checkbox" checked /></p></label>
        <p><label>Nuts and seeds: <input data-category="G" type="checkbox" checked /></p></label>
        <p><label>Herbs and spices: <input data-category="H" type="checkbox" checked /></p></label>
        <p><label>Fish and fish products: <input data-category="J" type="checkbox" checked /></p></label>
        <p><label>Meat and meat products: <input data-category="M" type="checkbox" checked /></p></label>
        <p><label>Fats and oils: <input data-category="O" type="checkbox" checked /></p></label>
        <p><label>Beverages: <input data-category="P" type="checkbox" checked /></p></label>
        <p><label>Alcoholic beverages: <input data-category="Q" type="checkbox" checked /></p></label>
        <p><label>Sugars, preserves and snacks: <input data-category="S" type="checkbox" checked /></p></label>
        <p><label>Soups, sauces and miscellaneous foods: <input data-category="W" type="checkbox" checked /></p></label>
        <p><label>Supplements: <input data-category="Z" type="checkbox" checked /></p></label>
    </div>

    <div id="graph-container">
        <div id="svg-container"></div>
        <div id="label-container">
            <h4>Node categories:</h4>
            <div id="category-labels"></div>
            <h4>Node frequencies:</h4>
            <div id="node-size-labels"></div>
        </div>
    </div>
</body>

</html>