<html>

<head>
    <link rel="stylesheet" href="/stylesheets/main_browse.css">
</head>

<body>
    <div id="graph-list">
        <div class="graph">
            <a href="/browse">
                <img src="/assets/graphs.png" />
                <p>Graphs</p>
            </a>
        </div>
        <div class="graph">
            <a href="/sankey">
                <img src="/assets/sankey.png" />
                <p>Sankey diagrams</p>
            </a>
        </div>
        <div class="graph">
            <a href="/carbon_prices">
                <img src="/assets/carbon_prices.png" />
                <p>Carbon prices world map</p>
            </a>
        </div>
        <div class="graph">
            <a href="/nodecount">
                <img src="/assets/nodecount.png" />
                <p>Network graph node counts</p>
            </a>
        </div>
        <div class="graph">
            <a href="/consensusgraphlets/browse">
                <img src="/assets/consensusgraphlets.png" />
                <p>Consensus graphlets</p>
            </a>
        </div>
        <div class="graph">
            <a href="/boxplots/browse">
                <img src="/assets/boxplots.png" />
                <p>Supply value chain box plots</p>
            </a>
        </div>

    </div>
</body>

</html>