<html>

<head>
    <script src="scripts/components/TEMP_sankey.js" defer></script>
    <script src="scripts/vendor/d3.js"></script>
    <script src="scripts/vendor/d3array.js"></script>
    <script src="scripts/vendor/d3collection.js"></script>
    <script src="scripts/vendor/d3path.js"></script>
    <script src="scripts/vendor/d3shape.js"></script>
    <script src="scripts/vendor/d3sankey.js"></script>

    <style>
        svg {
            max-width: 95vw;
            max-height: calc(98vh - 3em);
        }

        path {
            clip-path: stroke-box;
        }
    </style>
</head>

<body>
    <p>Layers: <select id="layer-count">
            <option value="4">4 layer</option>
            <option value="3">3 layer</option>
            <option value="2">2 layer</option>
            <option value="1">1 layer</option>
        </select>
    </p>
    <div id="graph-container"></div>
</body>

</html>